extends layout

block content
    script.
        setTimeout(function(){
           window.location.reload(1);
        }, 5000);
    center
        if etudiant
            h1 Timer pour #{etudiant}
        else
            h1 Timer
        if prof
            span Createur : #{prof}
        else
            span Createur anonyme
        span  (A noter que le timer affiché est uniquement a titre indicatif et n'est pas exact)
        p
        div#clockdiv
            div
                span.minutes
                p.smalltext Minutes
            div
                span.seconds
                p.smalltext Secondes
        
        h2#warning

        script.  
            initializeClock('clockdiv', "#{deadline}");
            setTimeout(() => {
                 let minutes = $('#clockdiv').find('.minutes')[0].innerHTML;
                 if(parseInt(minutes) < 2) {
                    $('#clockdiv div > span').css('background','#E84C3E');
                    $('#clockdiv > div').css('background', '#F69988');
                    document.getElementById('warning').innerHTML = "TEMPS CRITIQUE";
                    $('#warning').css('color', 'yellow');
                }
            }, 1000);
           
        p
        
        
    h2 Commentaires
    center
        if comments
            each comment in comments
                    .body
                        span#author= comment.author+': '
                        span=comment.text
                        br
